html {
	height: 100%;
}

body {
	background-color: tan;
	height: 100%;
	margin: 0;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
}

#root {
	background-color: yellow;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: space-around;
	height: 100%;
}

#inner-root {
	background-color: blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.tray {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	height: 50px;
	width: 100px;
	border: 3px solid black;
}

.tray-top {
	align-self: flex-start;
}

.tray-bottom {
	align-self: flex-end;
}

.tray-left {

}

.tray-right {

}
